<% title "##{@card.id}: #{@card.title}" %>

<% form_for(@card, :url => project_card_path(@card.project_id, @card), :method => :post) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => {:form => f, :card_statuses => @card_statuses} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', project_card_path(@card.project, @card) %> |
<%= link_to 'Back', project_path(@card.project) %>