<% @title = "##{@card.id}: #{@card.title}" %>
<h1>Editing card</h1>

<% form_for(@card) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => {:form => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @card %> |
<%= link_to 'Back', cards_path %>