<h1>Cards</h1>

<table>
  <tr>
    <td>#</td>
    <td>Title</td>
    <td>Action</td>
  </tr>
<% @cards.each do |card| %>
  <tr>
    <td><%= card.id %></td>
    <td><%= card.title %></td>
    <td>
      <%= link_to 'Show', card %> | 
      <%= link_to 'Edit', edit_card_path(card) %> | 
      <%= link_to 'Destroy', card, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New card', new_card_path %>