<% title "##{@card.id}: #{@card.title}" %>
<div class="card_title">#<%= @card.id %>: <%= @card.title %></div>
<div>
  <%= to_html @card.description %>
</div>
<%= @card.status %>
<%= link_to 'Edit', edit_project_card_path(@card.project, @card) %> |
<%= link_to 'Back', project_path(@card.project) %>